name: Continuous Integration for svg2pdf.js

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    - uses: actions/setup-node@v6
      with:
        node-version: 24
    - run: npm ci
    - run: npm run test:ci
    - name: Archive reference files
      if: ${{ failure() }}
      uses: actions/upload-artifact@v6
      with:
        name: references
        path: test/specs/**/reference.pdf
