name: Continous Integration for svg2pdf.js

on: [push, pull_request, workflow_dispatch]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions/setup-node@v1
      with:
        node-version: 20
    - run: npm install
    - run: npm run test:ci
    - name: Archive reference files
      if: ${{ failure() }}
      uses: actions/upload-artifact@v3
      with:
        name: references
        path: test/specs/**/reference.pdf
